<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.texttwo">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
        android:name="io.vov.vitamio.activity.InitActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
        android:launchMode="singleTop"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MainFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<receiver android:name="com.example.dell.texttwo.receiver.MediaScannerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yixia.vitamio.action.MEDIA_SCANNER_SCAN_FILE" />
                <action android:name="com.yixia.vitamio.action.MEDIA_SCANNER_SCAN_DIRECTORY" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.dell.texttwo.service.MediaScannerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="io.vov.vitamio.IMediaScannerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.example.dell.texttwo.service.FileDownloadService"
            android:exported="false" >
            <intent-filter>
                <action android:name="io.vov.vitamio.IVitamioService" />
            </intent-filter>
        </service>-->
        <activity android:name=".VideoViewDemo">

        </activity>


    </application>

</manifest>